body {
}

.card {
    height: 400px;
    width: 300px;
    text-align: center;
    margin: 30px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.card div img{
    max-height: 200px;
    max-width: 300px;
}

.card {
    text-decoration: none;
    color: black;
    transition: transform .15s;
    transition-timing-function: ease;
}

/*section a:hover {
    transform: scale(1.08);
    text-decoration: none;
    color: mediumorchid;
}*/

section a {
    text-decoration: none;
}

section a:hover {
    text-decoration: none;
}

.card:hover {
    transform: scale(1.08);
    text-decoration: none;
    color: black;
    box-shadow: 0 .5rem 1rem rgba(186,85,211,.4) !important;
}