@page
@model MagicalGoods.Pages.Account.LoginModel
@{
    Layout = "_Layout";
}

<!DocType html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Login.css" rel="stylesheet" />
</head>
<body class="text-center">
    <div class="align-items-center">
        <form class="form-signin col-sm-4 mx-auto" method="post">
            <img class="mb-4" height="50" src="~/img/Store-logo-transparent.png" alt="Logo" />
            <h1 class="h3 mb-3 font-weight-normal">SIGN IN</h1>
            <div asp-validation-summary="All"></div>
            <div class="form-label-group">
                <label class="sr-only" asp-for="Input.Email"></label>
                <input class="form-control" placeholder="Email" asp-for="Input.Email" required autofocus />
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div class="form-label-group">
                <label class="sr-only" asp-for="Input.Password"></label>
                <input class="form-control" placeholder="Password" asp-for="Input.Password" />
                <span asp-validation-for="Input.Password"></span>

            </div>

    <button class="btn btn-primary btn-large btn-block" type="submit">SIGN IN</button>
    </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
