@using Microsoft.AspNetCore.Identity;
@using MagicalGoods.Models;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <a asp-page="/Account/Login">Login</a>
    <a asp-page="/Account/Register">Register</a>

    <div>
        @RenderBody()
    </div>
</body>
</html>
