@page
@model MagicalGoods.Pages.Home.IndexModel
@{
}
<!DocType html>
<html>
<head>
    <title>Magical Goods</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Fondamento&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="cover">
            <div class="intro">
                <img src="~/img/DragonLogo.png" />
                <h1>Andrew and Ally's Alchemical Auguries</h1>
                <p class="headerText">Magical goods, odds, and ends for the aspiring witch or wizard</p>
                    <a asp-page="/Shop/Index">
                        <img height="20" src="~/img/Store-logo-transparent.png"/>
                        Enter the Shop
                    </a>
            </div>
        </div>
    </header>
    @* Background Image by Cobro on Unsplash *@
</body>
</html>