@page
@model MagicalGoods.Pages.Admin.IndexModel
@{
    Layout = "_Layout";
}

<h1>Welcome, Admin</h1>

<a asp-for-page="/Admin/Products" class="btn btn-block btn-lg btn-outline-secondary">Products</a>
<a asp-for-page="/Admin/Orders" class="btn btn-block btn-lg btn-outline-secondary">Products</a>
