@page
@model MagicalGoods.Pages.Admin.OrderDetailsModel
@{
    Layout = "_Layout";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h1>Order Details</h1>
        @foreach (var cartProduct in Model.Order.Cart.CartProducts)
        {
            <div class="row col-md-10">
                <div class="col-md-4">
                    <h3>@cartProduct.Product.Name</h3>
                </div>
                <div class="col-md-2">
                    <p>QTY: @cartProduct.Quantity</p>
                </div>
                <div class="col-md-3">
                    <p class="text-right">Sub-total: @(cartProduct.Product.Price * cartProduct.Quantity) Galleons</p>
                </div>
            </div>
        }
        <h5 class="col-md-8 text-right">Total: @Model.Order.TotalPrice</h5>
    </body>
    </html>
