@page
@model MagicalGoods.Pages.Shop.IndexModel
@{
    Layout = "_Layout";
}

<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Our Goods</title>
</head>
<body>

    <h2 class="pb-5 text-center">Our Magical Goods</h2>

    <section class=" col-lg-10 text-center row mx-auto">
        @foreach (var product in Model.Products)
        {
            <article class="col-md-4 my-2">
                <div class="card">
                    <a asp-page="/Shop/Product/@product.ID">
                        <img class="card-img-top" src="@product.Image" />
                    </a>
                    <div class="card-body">
                        <h3 class="pt-2 card-title">@product.Name</h3>
                        <p class="card-text">@product.Price Galleons</p>
                    </div>
                </div>
            </article>
        }
    </section>

</body>
</html>
