body {
    background-color: #07151D;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    font-family: 'Fondamento', cursive;
}

nav li{
    padding-right: 12px;
}

.shopNavButton {
    box-sizing: border-box;
    height: 40px;
    background-color: white !important;
    margin-right: 10px;
    border-radius: .25rem;
    border: 1px solid black;
}

h2{
    font-size: 48px;
    padding-top: 48px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fondamento', cursive;
}

.card{
    color: black;
}