@page
@model MagicalGoods.Pages.Account.LoginModel
@{
    Layout = "_Layout";
}

<!DocType html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link href="~/Login.css" rel="stylesheet" />
</head>
<body class="text-center">
    <div class="align-items-center">
        <form class="form-signin col-sm-4 mx-auto" method="post">
            <img class="mb-4" height="50" src="~/img/Store-logo-transparent.png" alt="Logo" />
            <h1 class="h3 mb-3 font-weight-normal">SIGN IN</h1>
            <div asp-validation-summary="All"></div>
            <div class="form-label-group">
                <label class="sr-only" asp-for="Input.Email"></label>
                <input class="form-control" placeholder="Email" asp-for="Input.Email" required autofocus />
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div class="form-label-group">
                <label class="sr-only" asp-for="Input.Password"></label>
                <input class="form-control" placeholder="Password" asp-for="Input.Password" />
                <span asp-validation-for="Input.Password"></span>

            </div>

            <button class="btn btn-primary btn-large btn-block" type="submit">SIGN IN</button>
        </form>
    </div>
</body>
</html>
