@{ 
    Layout = "_Layout";
}
<!DocType html>
<html>
<head>
    <title>Magical Goods</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>

<body>
    <header>
        <div id="curtain"></div>
        <div class="intro">
            <h1 class="headerText">Welcome to Andrew and Ally's Alchemical Auguries</h1>
            <p class="headerText">Where you can get your Magical Goods!</p>
        </div>
    </header>
</body>
</html>
            


