@page
@model MagicalGoods.Pages.Checkout.IndexModel
@{
    Layout = "_Layout";
}

    
<h1>Checkout</h1>
<main>
    <form method="post">
        <div class="d-flex justify-content-around">
            <section class="card">
                <h2>Please enter the following information:</h2>
                <div asp-validation-summary="All"></div>
                <label>First Name:</label>
                <input asp-for="Input.FirstName" placeholder="Enter Text" />
                <span asp-validation-for="Input.FirstName" span></span>

                <br />
                <label>Last Name:</label>
                <input asp-for="Input.LastName" placeholder="Enter Text" />
                <span asp-validation-for="Input.LastName" span></span>

                <br />
                <label>Shipping Address:</label>
                <input asp-for="Input.ShippingAddressLine1" placeholder="Enter address line 1" />
                <span asp-validation-for="Input.ShippingAddressLine1" span></span>

                <br />
                <input asp-for="Input.ShippingAddressLine2" placeholder="Enter address line 2" />
                <span asp-validation-for="Input.ShippingAddressLine2" span></span>

                <br />
                <label>City:</label>
                <input asp-for="Input.City" placeholder="Enter Text" />
                <span asp-validation-for="Input.City" span></span>

                <br />
                <label>Zip Code:</label>
                <input asp-for="Input.ZipCode" placeholder="Enter Text" />
                <span asp-validation-for="Input.ZipCode" span></span>

                <label>State/Province:</label>
                <input asp-for="Input.StateOrProvince" placeholder="Enter Text" />
                <span asp-validation-for="Input.StateOrProvince" span></span>

                <br />
                <label>Country:</label>
                <input asp-for="Input.Country" placeholder="Enter Text" />
                <span asp-validation-for="Input.Country" span></span>

                <br />
                <label>Payment Type:</label>
                <select asp-for="Input.Payment">
                    <option value="4111111111111111">Visa</option>
                    <option value="5424000000000015">MasterCard</option>
                    <option value="370000000000002">American Express</option>
                </select>
                <span asp-validation-for="Input.Payment" span></span>


            </section>
            <section class="card">
                <h2>Cart:</h2>
                @foreach (var cartProduct in Model.CheckoutCartProducts)
                {
                    <div>
                        <p>@cartProduct.Product.Name</p>
                        <p>QTY: @cartProduct.Quantity</p>
                        <p>Sub-total: @(cartProduct.Quantity * cartProduct.Product.Price)</p>
                    </div>

                }
                <h4>Total: @Model.Total</h4>
            </section>
        </div>
        <a asp-page="/Cart/Index" class="btn btn-secondary">Return to Cart</a>
        <button asp-page="/Checkout/Payment" class="btn btn-success">Complete Checkout</button>
    </form>
</main>