@page
@model MagicalGoods.Pages.Checkout.IndexModel
@{
    Layout = "_Layout";
}

    
<h2 class="text-center">Checkout</h2>
<main>
    <form method="post">
        <div class="d-flex justify-content-around">
            <section>
                <h2>Please enter the following information:</h2>
                <div asp-validation-summary="All"></div>
                <label asp-for="Input.FirstName">First Name:</label>
                <div>
                    <input asp-for="Input.FirstName" placeholder="Enter Text" />
                    <span asp-validation-for="Input.FirstName"></span>
                </div>
                <br />
                <label>Last Name:</label>
                <div>
                    <input asp-for="Input.LastName" placeholder="Enter Text" />
                    <span asp-validation-for="Input.LastName"></span>
                </div>
                <br />
                <label>Shipping Address:</label>
                <div>
                    <input asp-for="Input.ShippingAddressLine1" placeholder="Enter address line 1" />
                    <span asp-validation-for="Input.ShippingAddressLine1"></span>

                    <br />
                    <input asp-for="Input.ShippingAddressLine2" placeholder="Enter address line 2" />
                    <span asp-validation-for="Input.ShippingAddressLine2"></span>
                </div>
                <br />
                <label>City:</label>
                <div>
                    <input asp-for="Input.City" placeholder="Enter Text" />
                    <span asp-validation-for="Input.City"></span>
                </div>
                <br />
                <label>Zip Code:</label>
                <div>
                    <input asp-for="Input.ZipCode" placeholder="Enter Text" />
                    <span asp-validation-for="Input.ZipCode"></span>
                </div>
                <label>State/Province:</label>
                <div>
                    <input asp-for="Input.StateOrProvince" placeholder="Enter Text" />
                    <span asp-validation-for="Input.StateOrProvince"></span>
                </div>
                <br />
                <label>Country:</label>
                <div>
                    <input asp-for="Input.Country" placeholder="Enter Text" />
                    <span asp-validation-for="Input.Country"></span>
                </div>
                <br />
                <label>Payment Type:</label>
                <div>
                    <select asp-for="Input.Payment">
                        <option value="4111111111111111">Visa</option>
                        <option value="5424000000000015">MasterCard</option>
                        <option value="370000000000002">American Express</option>
                    </select>
                    <span asp-validation-for="Input.Payment"></span>
                </div>

            </section>
            <section class="card col-md-3">
                <h3 class="text-center">Cart:</h3>
                @foreach (var cartProduct in Model.CheckoutCartProducts)
                {
                    <div>
                        <p>@cartProduct.Product.Name</p>
                        <p>QTY: @cartProduct.Quantity</p>
                        <p>Sub-total: @(cartProduct.Quantity * cartProduct.Product.Price)</p>
                    </div>

                }
                <h4>Total: @Model.Total</h4>
            </section>
        </div>
        <section class="d-flex justify-content-center">
            <a asp-page="/Cart/Index" class="btn btn-secondary">Return to Cart</a>
            <button asp-page="/Checkout/Payment" class="btn btn-success">Complete Checkout</button>
        </section>
    </form>
</main>